@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h3> Welcome to ABC Corp's Login Page</h3>
    <form method="post">
        <label for="userName">User Name</label><br />
        <input type="text" name="userName" /><br />
        <label for="password">Password</label><br />
        <input type="password" name="password" /><br />
        <input type="submit" name="Submit">
    </form>

</div>
